
SoftUniTestLab/.vs/SoftUniTestLab/DesignTimeBuild/.dtbcache.v2
SoftUniTestLab/.vs/SoftUniTestLab/v16/.suo
SoftUniTestLab/.vs/SoftUniTestLab/v16/TestStore/0/000.testlog
SoftUniTestLab/.vs/SoftUniTestLab/v16/TestStore/0/testlog.manifest
SoftUniTestLab/.vs/SoftUniTestLab/v16/.suo
